.sideBarWrapper {
    height: 100%;
    background-color: var(--background-primary);
    flex: 0 0 250px;
    min-width: 250px;
    max-width: 250px;
    border-right: 1px solid var(--border-color);
    padding: 16px 0px;
    font-size: 14px;
    overflow-y: auto;
}

.sideBarWrapperOpened {
    flex: 0 0 200px;
    min-width: 200px;
    max-width: 200px;
    /* background-color: #000; */
}
.menuParentWrapper {
    margin-top: 16px;
}
.menuParentTitle {
    color: rgba(0, 0, 0, 0.45);
    font-size: 13px;
    font-weight: 400;
    user-select: none;
    cursor: default;
    padding: 8px 40px;
    margin: 0px 8px;
}
.menuChildWrapper {
    margin-top: 8px;
}
.menuChildItem {
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
    padding: 2px 40px;
    margin: 0px 8px;
}

.menuChildItem:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.menuChildTitle {
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    font-weight: 400;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
.sideBarWrapper {
    scrollbar-width: auto;
    scrollbar-color: #909090;
}

/* Chrome, Edge, and Safari */
.sideBarWrapper::-webkit-scrollbar {
    width: 15px;
}

.sideBarWrapper::-webkit-scrollbar-track {
    background: #ffffff;
}

.sideBarWrapper::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 10px;
    border: 5px solid #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.sideBarWrapper:hover::-webkit-scrollbar-thumb {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 1023.98px) {
    .sideBarWrapper {
        flex: 0 0 200px;
        min-width: 200px;
        max-width: 200px;
    }
}
