:root {
    --max-width: 1300px;
    --min-height: 90px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --font-primary: 'Roboto', sans-serif;
    --background-primary: #fff;
    --color-primary: #212121;
    --color-secondary: rgb(117, 117, 117);
    --box-shadow: 0 4px 8px rgb(0 0 0 / 6%), 0 0 4px rgb(0 0 0 / 6%),
        0 0 1px rgb(0 0 0 / 4%);
    --border-color: rgb(232, 234, 237);
    --padding: 16px 40px;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary) !important;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary) !important;
    background-color: #fff !important;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
