.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
}
.headerNavWrapper {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}
.headerNavIcon {
    cursor: pointer;
}
@media screen and (max-width: 767.98px) {
    .logo {
        font-size: 17px;
    }
}
